<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" content-"ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>Management Login</title>
</head>

<body>
    <div class="container">
        <a href="/"> <img src="../static/ACME_MC_Logo.png" class="logo"></a>
        <form action="/login" method="POST">
            <div class="form">
                <fieldset class="container">
                    <legend>Sign In:</legend>
                    <br>
                    <label for="login">Employee ID:</label>
                    <input class="numB" type="text" id="login" name="management"><br><br>
                </fieldset>
                <!-- button -->
                <input type="submit" value="Submit" class="btn" />
            </div>
        </form>
    </div>
</body>

</html>