<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" content-"ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>Patient System</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='style.css' ) }} />
</head>

<body>
    <div class="container">
        <a href="/"> <img src="../static/ACME_MC_Logo.png" class="logo"></a>
        <h1>{{dep.dept_name}}</h1>
        <h2>Welcome {{pt.first_name}} {{pt.last_name}}</h2>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form action="/patient" method="POST">
            <fieldset>
                <legend>Request A Task:</legend>
                <div class="container">
                    <input type="hidden" name="pt_no" value={{pt.patient_no}} />
                    <select class="selectA" id="thelist" name="task_no">
                        {% for i in range(requestable_tasks | length)%}
                        <option value={{requestable_tasks[i].task_no}}>{{requestable_tasks[i].task_name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" value="Request Task" class="btn" />
                </div>
            </fieldset>
        </form>
    </div>


    <div class="container">
        <fieldset>
            <legend>Requested Tasks:</legend>
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(requested | length)%}
                        <tr>
                            <td>{{requested[i].task_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>


    <div class="container">
        <fieldset>
            <legend>Assigned Tasks:</legend>
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assigned Caregiver</th>
                            <th>Expected Duration</th>
                            <th>Medication</th>
                            <th>Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(assigned | length)%}
                        <tr>
                            <td>{{assigned[i][0].task_name}}</td>
                            <td>{{assigned[i][1].last_name}}, {{assigned[i][1].first_name}}
                                {{certs[assigned[i][1].cert_no-1].cert_name}}</td>
                            <td>{{assigned[i][0].duration}}</td>
                            {% if assigned[i][0].isMedicine == True %}
                            <td>Yes</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}

                            {% if assigned[i][0].frequency != None %}
                            <td>{{assigned[i][0].frequency}}</td>
                            {% else %}
                            <td>No Frequency</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>


    <div class="container">
        </fieldset>
        <br>
        <fieldset>
            <legend>Approved Visitors:</legend>
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Relation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(visitors | length)%}
                        <tr>
                            <td>{{visitors[i].first_name}} {{visitors[i].last_name}}</td>
                            <td>{{visitors[i].association}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</body>

</html>